.book-detail-image{
    box-shadow: -16px 20px 20px rgba(0, 0, 0, 0.5);
    width: 315px;
    height: 450px;
}

.arrow-button{
    background-color: white;
    color: white;
    border: 1px;
}

.bottom-controls {
    position: fixed;
    bottom: 0;
    left: 15vh;
    width: 100%;
    background-color: white;
    z-index: 3;
    border-top: 1px solid #ccc;
    padding: 10px 0;
    transition: transform 0.3s ease;
}

.book-content{
    margin-bottom: 80px;
}

.icon{
    width: 24px;
    height: 24px;
}

.white-container{
    background-color: #FDFCF7;
    /*background-color: grey;*/
    width: 90vw;
    border-radius: 10px;
    /*height: 60vw;*/
}

.small-white-container{
    background-color: #FDFCF7;
    /*background-color: grey;*/
    width: 90%;
    border-radius: 10px;
    /*height: 60vw;*/
}

.delete-book{
    width: 50px;
}

.star-rating {
    font-size: 0;
    float: left;
}
.star-rating input[type="radio"] {
    display: none;
}
.star-rating:not(:checked) label {
    font-size: 30px;
    cursor: pointer;
    color: #ccc;
    float: right;
    background-image: url('/img/svg/star_no_fill.svg');
    background-size: contain;
    width: 40px;
    height: 40px;
    margin-left: 0.5em;
    /*margin-bottom: 5em;*/
}
.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:hover ~ label {
    background-image: url('/img/svg/star_yellow.svg');
}

.komentar textarea{
    border:0;
}

.hidden {
    display: none;
}

.expand-img {
    transform: rotateX(180deg);
}

.input-label{
    width: 10em;
}

.prev-text{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.prev-button:hover + .prev-text{
    opacity: 1;
}

.next-text{
    opacity: 0;
    transition: opacity 0.3s ease;
}

.next-button:hover + .next-text{
    opacity: 1;
}
