.home-bg{
    min-height: 86.5vh;
    background-color: #F0EEE2;
    display: block;
}

.img-shadow{
    box-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}

.button-shadow{
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.img-large{
    width: 100%;
    max-width: 168px;
    height: 240px;
}

.img-small{
    width: 95px;
    height: 145px;
}

.mulai-baca{
    width: 111px;
    height: 28px;
}

.box {
    width: 80%;
    padding: 10px;
    background-color: #f8f9fa;
    border-radius: 8px;
}

.title {
    font-size: 18px;
    font-family: 'Lato', serif;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.chapter {
    font-size: 10px;
    font-family: 'Lato', serif;
    color: #6c757d;
}

.progress-bar {
    width: 70%;
}

.percentage {
    font-size: 20px;
    font-family: 'Lato', serif;
    font-weight: bold;
    /*margin-top: 10px;*/
    color: #252734;
}

.time-left {
    font-size: 14px;
    color: #6c757d;
    margin-top: 5px;
}

.border-custom{
    width: 130px;
    background-color: #252734;
    color: white;
    font-size: 18px;
    display: block;
    height: 30px;
}

.book-name{
    font-size: 16px;
    width: 140px;
}

.no-blue {
    color: inherit;
    text-decoration: none;
}

.bg-color-white{
    background-color: white;
}

.font-size-18{
    font-size: 18px;
}

.row-custom-size{
    width: 70%;
}

.book-container {
    position: relative;
    display: inline-block;
}

.book-image {
    width: 140px;
    height: 200px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-overlay {
    color: white;
    font-size: 18px;
}

.book-container:hover .overlay {
    opacity: 1;
}

.rating {
    font-size: 0;
    width: 120px;
}

.star {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('/img/svg/star_black.svg');
    background-size: cover;
}

.star.filled {
    background-image: url('/img/svg/star_yellow.svg');
}

.profile-picture{
    height: 40px;
    width: 40px;
}

.profile-form{
    width: 40vw;
}

.font-size-review{
    font-size: 15px;
}

.book-image-lg{
    width: 223px;
    height: 319px;
}

.book-name-lg{
    width: 223px;
    font-size: 24px;
}

.pp-komunitas-detail{
    width: 160px;
    height: 160px;
    border: 5px solid white;
    border-radius: 10px;
    margin-top: -5em;
}

.pp-chat{
    width: 70px;
    height: 70px;
    border-radius: 10px;
}

.offcanvas.show {
    transform: translateX(0);
}

.offcanvas:not(.show) {
    transform: translateX(100%);
}

.create-text{
    opacity: 0;
    transition: opacity 0.3s ease; /* Smooth transition */

}

.create-button:hover + .create-text{
    opacity: 1;
}
