.bg-color-grey{
    background-color: #F0EEE2;
}

.size-img{
    width : 4em;
    height: 4em;
}

.image-setting{
    width: 32px;
    height: 32px;
}

.nav .nav-item .nav-link.active{
    background-color: #E45F64;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation-name : color-effect;
    animation-duration: 0.5s;
}

@keyframes color-effect{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 100;
    }
}

.text {
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Smooth transition */
    color: black;
    font-size: large;
    margin-left: 3em;
    position: fixed;
}

.nav-item:hover .text {
    opacity: 1; /* Make visible on hover */
}

.user-notification{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 10px;
    margin-right: 10px;
}

.notification {
    /*background-color: #555;*/
    color: white;
    text-decoration: none;
    padding: 2px 5px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
}

.notification .badge {
    padding: 5px 7px;
    border-radius: 50%;
    background: red;
    color: white;
}

.notification img {
    height: 40px;
    width: 40px;
}

