.custom-input{
    width: 300px;
    border: 0;
    outline: none;
}

.dropdown-menu{
    width: 20vw;
}

.multi-column {
    width: 400px;
}

.dropdown-menu .row {
    display: flex;
    flex-wrap: nowrap;
}

.dropdown-menu .col {
    flex: 1;
    margin-right: 5px;
}

.navbar-nav .dropdown-menu .dropdown-header {
    font-size: 18px;
    color: black;
}

.criteria-select {
    background-color: transparent;
    border: none;
    outline: none;
}
