
.forumDiskusi , .forumSaya
{
    text-align:center;
    padding: 10px 63px;
}


.forumdiskusiButton.active
{
    background-color:#252734;
    color:white;
    border-radius:10px 0px 0px 10px;
}
.forumsayaButton.active
{
    background-color:#252734;
    color:white;
    border-radius:0px 10px 10px 0px;
}

.forumsayaButton2
{
    padding : 10px 63px;
    border:0;
    font-size:16px;
    background-color:#252734;
    color:white;
    border-radius:0px 10px 10px 0px;
}

.imageWhat
{
    margin-top :7em;
}

.forumdiskusiButton, .forumsayaButton
{
    padding : 10px 63px;
    background-color:#F0EEE2;
    border-radius: 10px 0px 0px 10px;
    border:0;
    font-size:16px;
}

.buatforumButton
{
    background-color: #252734;
    color:white;
    border-radius:10px;
    border:0;
    padding: 6px 25px;
    font-size:24px;
}

.select-menu
{
    width: 380px;
}

.select-menu .select-btn
{
    display:flex;
    font-weight: 400;
    border-radius: 8px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.select-btn i
{
    transition: 0.3s;
}

.sBtn-text
{
    opacity:70%;
}

.sBtn-text.active
{
    opacity:100%;
}

.font-inter{
    font-family: 'Inter', serif;
}

.select-menu.active .select-btn i
{
    transform: rotate(-180deg);
}

.select-menu .options
{
    postion: relative;
    padding: 20px;
    margin-top: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.2);
    display:none;
    height: 30vh;
    overflow-y:auto;
}

.select-menu.active .options
{
    display: block;
}


.options .option
{
    display:flex;
    cursor: pointer;
    border-radius: 8px;
    align-items:center;
    background:#fff;
    margin-bottom: 1em;
}

.options .option:hover
{
    background: #F2F2F2;
}

.book-images
{
    width: 73px;
    height:98px;
}

.content
{
    padding: 20px;
    margin-top: 15px;
    border-radius:8px;
    background: #fff;
}

.search input
{
    width:100%;
}


.custom-input-forum{
    display: none;
    background-color: white;
    padding: 10px;
}
.custom-input-forum.active{
    display: block;
}
.search-input-forum{
    box-shadow: 0 0 1px rgba(0,0,0,0.4);
}


